<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.changez.sm.mapper.CustomerMapper">  
	<select id="login" parameterType="customer" resultType="customer">
		select * from t_user t where t.name=#{name} and t.password=#{password} 
	</select>
	
	<insert id="insertUser" parameterType="customer">
		insert into t_user (name, password) values (#{name}, #{password})
	</insert>
</mapper> 